/*.center {
    border: solid 1px whitesmoke;
    display: block;
    width: 500px;
    height: 900px;
    background-color: rgb(247, 247, 30);
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-top: -10px;
}*/
hr{
    margin-left: 0;
    height: 9px;
    width: 320px;
    display: block;
    
}
h3 {
    text-indent:0%;
    -webkit-margin-top-collapse: collapse;
    text-underline-position: below;
}
h1 {
    text-justify: newspaper;

}
.center {
    margin-top: 200px;

}
